nav {
    border-bottom: solid 2px black;
    padding: 16px;
    background-color: darkorange;
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px;
    font-size: large;
    background-color: aquamarine;
}

img {
    height: 200px;
}

a:hover {
    background-color: rgb(39, 36, 187);
}

nav>a {
    color: floralwhite;
}

a {
    color: green;
}

.my h1 {
    color: green;
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

tbody>tr:nth-child(even) {
    background-color: rgb(193, 197, 197);
}
